{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "semi": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": false
}
